<plugin name='tropic-thunder' version='0.1' grailsVersion='2.1.0 &gt; *'>
  <author>Your name</author>
  <title>Tropic Thunder Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/tropic-thunder</documentation>
  <type>TropicThunderGrailsPlugin</type>
  <resources>
    <resource>edu.qut.acoustics.tropicthunder.controller.ProjectController</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.ConfigPortal</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.HarvestStatus</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.Project</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.ProjectStats</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.Recording</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.Sensor</resource>
    <resource>edu.qut.acoustics.tropicthunder.domain.Site</resource>
    <resource>edu.qut.acoustics.tropicthunder.portal.service.ConfigService</resource>
    <resource>edu.qut.acoustics.tropicthunder.portal.service.DbService</resource>
    <resource>edu.qut.acoustics.tropicthunder.portal.service.FileHarvesterService</resource>
    <resource>edu.qut.acoustics.tropicthunder.portal.service.RepositoryService</resource>
    <resource>edu.qut.acoustics.tropicthunder.portal.service.SysEventService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='Codehaus' url='http://repository.codehaus.org/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.0' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='executor' version='0.3' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.2' />
      <plugin group='org.grails.plugins' name='rest' version='0.7' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='mongodb' version='1.0.0.GA' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>